<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.aulas.LISTAR">Lista de Aulas</h1>
            <span class="mainDescription">Lista todas las aulas registradas en el sistema.</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- /// controller:  'ngTableCtrl' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
            <div ng-controller="ngTableCtrl">
                <p>
                    Mostrando registros del {{ tableParams.total() > 0 ? (tableParams.page() * tableParams.count()) - (tableParams.count()) + 1 : 0}} 
                    al {{(tableParams.page() * tableParams.count()) < tableParams.total() ? (tableParams.page() * tableParams.count()) : tableParams.total()}} 
                    de un total de {{tableParams.total()}}
                </p>
                <table ng-table="tableParams" class="table table-striped" show-filter="true">
                    <tr ng-repeat="user in $data">
                        <td data-title="'Aula'" sortable="'name'" filter="{'name': 'text' }">{{user.name}}</td>
                        <td data-title="'Tipo'" sortable="'tipo'">{{user.tipo}}</td>
                        <td data-title="'Capacidad'" sortable="'capacidad'">{{user.capacidad}}</td>
                        <td data-title="'Estado'" sortable="'estado'">
                            <span class="label label-sm" ng-class="user.estado==='Activa' ? 'label-success' : user.estado==='Activa con Novedad' ? 'label-warning':'label-danger'">{{user.estado}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end: SIMPLE TABLE WITH PAGINATION -->

